:root{
    --c-primary-light: #FFFFFF;
    --c-primary: #2E2F42;
    --c-brand: #404BBF;
    --c-background: #4D5AE5;
    --c-primary-tr: #434455;
    --c-background-light: #F4F4FD;
    --c-background-modal: #FCFCFC;
}


/* Global */
*,
*::before,
*::after {
    box-sizing: border-box;
}

p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    margin: 0;
}

body {
    color: var(--c-primary-tr);
    font-family: 'Roboto', sans-serif;
    background-color: var(--c-primary-light) ;
}

body .logo{
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

img {
    display: block
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button{
    font-family: 'Roboto', sans-serif;
}

.section{
    padding: 120px 0;
}

.container{
    width: 1158px;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Header */
.header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.current {
    color: #404bbf;
    position: relative;
}

.current::after {
    position: absolute;
    box-sizing: border-box;
    border-radius: 2px;
    left: 0;
    width: 100%;
    height: 4px;
    bottom: -1px;
    background-color: #404bbf;
    content: "";
}

.header-ineer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav{
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.nav-list{
    display: flex;
    gap: 40px;
    flex-grow: 1;
}

.logo{
    display: flex;
    align-items: center;
    color: var(--c-background);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px
}

.logo-accent{
   color: var(--c-brand);
}

.nav-link{
    display: inline-block;
    color: var(--c-primary) ;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover{
    color: var(--c-brand);
}

.nav-link:focus{
    color: var(--c-brand);
}

.header-list{
    display: flex;
    gap: 40px;
    margin-right: 0
}

.address{
    font-style: normal
}

.address-link{
    color: var(--c-primary-tr);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover{
    color: var(--c-brand)
}

.address-link:focus{
    color: var(--c-brand);
}

/* Hero section */
.hero-button {
    border: none;
    cursor: pointer;
    color: var(--c-primary-light);
    background-color: var(--c-background);
    padding: 16px 32px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover {
    color: var(--c-primary-light);
    background-color: var(--c-brand);
}

.hero-button:focus {
    background-color: var(--c-brand);
}

.hero-section{
    background-color: var(--c-primary);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    text-align: center;
    padding: 188px 0;
}

.hero-title{
    max-width: 496px;
    margin: 0 auto;
    text-align: center;
    color: var(--c-primary-light);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 48px;
}


/* Advantages section */
.advantage-icon{
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background: var(--c-background-light);
    flex-shrink: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 8px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantage-section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.advantage-list{
    display: flex;
    gap: 24px;
}

.advantage-title{
    color: var(--c-primary);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.advantage-text{
    color: var(--c-primary-tr);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.advantage-iteam{
    flex-basis: calc((100% - 72px) / 4)
}

/* Our Team section */
.team-list{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    border-radius: 0px 0px 4px 4px;
}

.our-team-item{
    background-color: var(--c-primary-light);
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    gap: 32px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-section{
    background-color: var(--c-background-light);
}

.our-team{
    color: var(--c-primary);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-title{
    text-align: center;
    margin-bottom: 8px;
    color: var(--c-primary);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-text{
    text-align: center;
    color: var(--c-primary-tr);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.our-team-item{
    background-color: var(--c-primary-light);
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.name-job {
    padding: 32px 0;
}

.social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.social-list{
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.social{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--c-background);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social:hover {
    background-color: var(--c-brand);
}

.social:focus {
    background-color: var(--c-brand);
}

.icon{
    fill: var(--c-background-light);
}

/* Our Portfolio */
.category-app{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.our-portfolio-li{
    width: calc((100% - 48px) / 3);
}

.portfoli-section{
    background-color: var(--c-primary-light);
}

.our-portfolio{
    color: var(--c-primary);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-title{
    color: var(--c-primary);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-text{
    color: var(--c-primary-tr);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-image{
    position: relative;
    overflow: hidden;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(77, 90, 229, 1);
    color: var(--c-background-light);
    padding: 40px 32px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list .our-portfolio-li{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-li:hover {
    box-shadow: 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }

.our-portfolio-li:hover .overlay,
.our-portfolio-li:focus .overlay{
    transform: translateY(0%);

}


/* Footer */
.footer-section{
    background-color: var(--c-primary);
    padding: 100px 0 100px
}

.footer-container-all{
    display: flex;
    align-items: baseline
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    color: var(--c-background);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-logo-accent {
    color: var(--c-background-light);
}

.footer-text {
    color: var(--c-background-light);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-container{
    margin-right: 120px;
}

.footer-social-text{
    color: var(--c-primary-light);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer-list{
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.footer-social-link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--c-background);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover {
    background-color: #31D0AA;
}

.footer-social-link:focus {
    background-color: #31D0AA;
}

.footer-icon{
    fill: var(--c-background-light);
}

.footer-social-media{
    margin-right: 80px;
}

.footer-subscribe {
    padding-left: 80px;
}

.footer-paragraf {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--c-primary-light);
}

.footer-form {
    gap: 24px;
    display: flex;
}

.footer-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--c-primary-light);
}

.placeholder {
    fill: var(--c-primary-light);
}

.footer-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--c-primary-light);
    cursor: pointer;
    background-color: var(--c-background);
    border: none;
    border-radius: 4px;
}

.footer-svg {
    margin-left: 16px;
}




/*Modal*/
.backdrop {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close{
    position: absolute;
    top: 24px;
    right: 24px;;
}

/*.modal-title {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--c-primary);
    margin-bottom: 8px;
    text-align: center;
}*/

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    width: 408px;
    top: 50%;
    left: 50%;
    min-height: 584px;
    background-color: var(--c-background-modal);
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-paragraf{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--c-primary);
    margin-bottom: 16px;
}

.backdrop .is-hidden .modal{
    transform: scale(0);
}

.modal-button-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(231, 233, 252, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover,
.modal-button-close:focus{
    background-color: var(--c-brand);
    border: none;
}

.modal-close{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover,
.modal-button-close:focus{
    fill: var(--c-primary-light);
}

.modal-field{
    margin-bottom: 8px;
}

.modal-label{
    display: block;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
    color: #8e8f99;
}

.modal-input{
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);;
    border-radius: 4px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus{
    outline: none;
    border-color: var(--c-background);
}

.modal-input:focus + .modal-input-icon{
    fill: var(--c-background);
}

.modal-textarea{
    min-height: 120px;
    width: 100%;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    background-color: transparent;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal-textarea:focus{
    outline: none;
    border-color: var(--c-background);
}

.modal-input-wrap{
    position: relative;
}

.modal-input-icon{
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment{
    margin-bottom: 16px;
}

.modal-checkbox{
    margin-bottom: 24px;
}

.modal-checkbox-check{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    width: 16px;
    height: 16px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
}

.modal-checkbox-input:checked + .modal-checkbox-label .modal-checkbox-check{
    background-color: var(--c-brand);
    border: none;
}

.modal-checkbox-icon {
    opacity: 0;
}

.modal-checkbox-input:checked + .modal-checkbox-check .modal-checkbox-icon{
    opacity: 1;
}

.modal-checkbox-input:checked + .modal-checkbox-check{
    border: none;
    background-color: var(--c-brand);
    fill: #F4F4FD;
}

.modal-checkbox-label{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(142, 143, 153, 1);
}

.checkbox-privacy{
    text-decoration: underline;
    color: var(--c-background);
}

.modal-button{
    display: block;
    margin: 0 auto;
}

textarea{
    resize: none;
}

